body 
{
	background-color: white;
	font-family: tahoma, sans-serif, arial;
}

h2, h3
{
	text-align: center;
}

pre
{
	background-color: #f0f0f0;
	padding: 4px;
}

code
{
	background-color: #f0f0f0;
}

pre.proto
{
	border: 1px solid #c0c0c0;
}

table, th, td
{
	border: 1px solid #c0c0c0;
	padding: 2px
}

table
{
	border-collapse: collapse;
}

th
{
	background-color: #f0f0f0;
}

td.wide
{
	width: 100%;
}

th.wide
{
	width: 100%;
}

dt
{
	font-weight: bold;
}

ul.clean
{
	list-style-type: none;
}
/*
a
{
	color: #008000;
}
*/
